#brand-heading {
  border-top: 1px solid $eclipse-purple;
  position: relative;
  display: grid;
  overflow: hidden;
  .background-image {
    @include background-image;
  }
  .content {
    @include content;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
    max-width: 1200px;
    h2 {
      color: $eclipse-pink;
      text-align: center;
      font-size: 2.5rem;
    }
    h3 {
      color: $eclipse-pink;
      text-align: center;
      font-size: 2rem;
    }
    p {
      text-align: left;
      font-size: 1.2rem;
      line-height: 1.8rem;
    }
    .page-links {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      a {
        @include eclipse-button;
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  #brand-heading {
    margin-top: 0.5rem;
    .content {
      h2 {
        font-size: 1.7rem;
      }
      h3 {
        font-size: 1.5rem;
      }
      p {
        font-size: 1rem;
        line-height: 1.5rem;
      }
      .page-links {
        display: flex;
        flex-direction: column;
        grid-template: 1rem;
      }
    }
  }
}
