/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  top: 24px;
  right: 1rem;
  width: 32px;
  height: 32px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #fff;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: $eclipse-purple;
  opacity: 1 !important;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #fff;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  top: 80px;
}

/* General sidebar styles */
.bm-menu {
  background-color: black;
  background-image: url('../public/images/purple-space.jpg');
  border: 1px solid $eclipse-purple;
  border-right: none;
  background-position: right;
  padding: 3rem 1rem;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  color: #fff;
  .menu-item {
    @include eclipse-button;
    max-width: 95%;
    min-height: 40px;
    height: 40px;
    .image-container {
      background-color: black;
    }
  }
  .address {
    min-height: 60px;
    .background-gradient {
      display: flex;
      gap: 4px;
      p {
        font-size: 0.75rem;
      }
    }
  }
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}
