#contact {
  position: relative;
  display: grid;
  min-height: calc(100vh - 80px);
  overflow: hidden;
  background-color: black;
  .background-image {
    @include background-image;
  }
  .content {
    @include content;
    justify-self: center;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    color: white;
    text-align: center;
    gap: 4rem;
    margin-top: 2rem;
    padding: 1rem;
    h2 {
      font-size: 2.5rem;
      color: $eclipse-pink;
    }
    .contact-info {
      display: grid;
      justify-items: center;
      align-items: center;
      grid-auto-flow: column;
    }
    .contact-text {
      position: relative;
      justify-self: flex-start;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 2rem;
      height: 90%;
      text-align: left;
      div {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
      }
      h3 {
        color: $eclipse-pink;
        font-size: 2rem;
      }
      p {
        font-size: 1.5rem;
      }
    }
    iframe {
      width: 625px;
      height: 450px;
      border-radius: 4px;
    }
    a:hover {
      color: $eclipse-pink;
    }
    .order-link {
      @include eclipse-button;
    }
  }
}

@media only screen and (max-width: 1024px) {
  #contact {
    .content {
      h2 {
        font-size: 2rem;
      }
      iframe {
        width: 90%;
        max-width: 500px;
        height: 300px;
      }
      .contact-text {
        justify-self: center;
        h3 {
          font-size: 1.8rem;
        }
        p {
          font-size: 1.2rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  #contact {
    .content {
      gap: 2rem;
      .contact-info {
        display: flex;
        flex-direction: column-reverse;
        gap: 2rem;
      }
      .contact-text {
        height: auto;
        text-align: center;
        gap: 2rem;
      }
    }
  }
}

@media only screen and (max-width: 640px) {
  #contact {
    .content {
      .contact-info {
        display: flex;
        flex-direction: column-reverse;
        gap: 2rem;
      }
      .contact-text {
        height: auto;
        gap: 2rem;
      }
    }
  }
}
