#home {
  .order-actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    color: white;
    a {
      width: 260px;
      text-align: center;
      text-decoration: none;
      padding: 1rem 4rem;
      color: white;
      border: 1px solid $eclipse-pink;
      border-radius: 4px;
    }
    .logo {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      .logo-text {
        * {
          text-align: center;
          font-weight: normal;
          font-family: 'Roddenberry';
        }
        h2 {
          font-size: 2.5rem;
        }
        h3 {
          color: $eclipse-pink;
          font-size: 2rem;
        }
      }
    }
  }
}
