#header {
  z-index: 99;
  position: sticky;
  display: grid;
  top: 0;
  height: 80px;
  width: 100%;
  background-color: black;
  border-bottom: 1px solid $eclipse-purple;
  .background-image {
    grid-area: 1 / 1 / 2 / 2;
    position: relative;
    z-index: 1;
    object-fit: cover;
    object-position: 0% 40%;
    filter: brightness(50%);
  }
  .content {
    grid-area: 1 / 1 / 2 / 2;
    position: relative;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background-color: transparent;
    text-align: center;
    a {
      display: flex;
      gap: 0.5rem;
      color: #fff;
      text-decoration: none;
      font-size: 1.2rem;
      p {
        font-size: 1rem;
      }
    }
    * {
      white-space: nowrap;
    }
    a:hover,
    p:hover,
    h1:hover {
      color: $eclipse-pink;
      * {
        color: $eclipse-pink;
      }
    }
    p:hover {
      cursor: pointer;
    }
    div.title {
      display: flex;
      align-items: center;
      gap: 2rem;
      margin-left: 1rem;
    }
    h1 {
      cursor: pointer;
      font-size: 2.5rem;
      font-weight: normal;
      font-family: 'Roddenberry';
    }
    nav.desktop {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 2.5rem;
      padding: 1rem;
    }
  }
}

@media only screen and (max-width: 1100px) {
  #header {
    .content {
      h1 {
        font-size: 2rem;
      }
      nav.desktop {
        font-size: 1rem;
        gap: 1.5rem;
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  #header {
    .content {
      nav.desktop {
        gap: 1rem;
      }
    }
  }
}

@media only screen and (max-width: 640px) {
  #header {
    .content {
      div.title {
        gap: 1rem;
      }
      h1 {
        font-size: 1.5rem;
      }
    }
  }
}

@media only screen and (max-width: 390px) {
  #header {
    .content {
      .title {
        gap: 1rem;
      }
      h1 {
        font-size: 1.12rem;
      }
    }
  }
}

@media only screen and (max-width: 330px) {
  #header {
    .content {
      div.title {
        gap: 1rem;
      }
      h1 {
        font-size: 1rem;
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  #header {
    .content {
      nav.desktop {
        display: none;
      }
      a {
        color: black;
        font-weight: bold;
      }
      a.title {
        color: #fff;
      }
    }
  }
}

@media only screen and (min-width: 900px) {
  #header {
    .content {
      div {
        display: none;
      }
    }
  }
}
