#overlay {
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .content {
    position: relative;
    display: grid;
    justify-items: center;
    align-items: center;
    min-width: 33%;
    .background-image {
      grid-area: 1 / 1 / 2 / 2;
      position: relative;
      object-fit: cover;
      object-position: 50% 0%;
    }

    #signup-form {
      position: relative;
      grid-area: 1 / 1 / 2 / 2;
      display: grid;
      z-index: 2;
      border: 1px solid $eclipse-pink;
      border-radius: 4px;
      padding: 1rem;
      gap: 1rem;
      width: 100%;
      button {
        grid-area: 1 / 1 / 2 / 3;
        justify-self: flex-end;
        background-color: transparent;
        border: none;
        font-size: 1rem;
        margin-bottom: -1rem;
      }
      button:hover {
        cursor: pointer;
      }
      h1 {
        grid-area: 2 / 1 / 3 / 3;
        align-self: flex-start;
        text-align: center;
        color: $eclipse-pink;
      }
      label {
        font-size: 1.3rem;
      }
      .form-field {
        display: flex;
        flex-direction: column;
        input {
          border: 1px solid black;
          border-radius: 4px;
          -webkit-appearance: none;
          height: 2rem;
          font-size: 1.3rem;
          color: black;
          font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
            'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
            'Helvetica Neue', sans-serif;
        }
        .touched:invalid {
          border: 1px solid red;
        }
        .error {
          color: red;
        }
      }
      .form-field-check {
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        input {
          accent-color: $eclipse-pink;
        }
      }
    }
  }
}

@media only screen and (max-width: 640px) {
  #overlay {
    .content {
      #signup-form {
        .title {
          font-size: 0.75rem;
        }
      }
    }
  }
}
