#testimonials {
  position: relative;
  display: grid;
  .background-image {
    @include background-image;
  }
  .content {
    @include content;
    justify-self: center;
    width: 100%;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    padding: 5rem 2rem;
    h2 {
      color: $eclipse-pink;
      text-align: center;
      font-size: 2.5rem;
    }
    .reviews {
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 2rem;
      padding: 2rem;
      .border {
        border-radius: 4px;
        background: linear-gradient(45deg, $eclipse-pink, $eclipse-purple);
        height: 100%;
        .review {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 1rem;
          border-radius: 4px;
          max-width: 400px;
          height: calc(100% - 2px);
          margin: 1px;
          background-color: black;
          p {
            font-size: 1.3rem;
          }
          p.sig {
            padding: 1rem;
            padding-bottom: 0;
            text-align: right;
          }
        }
      }
    }
    a.reviews-link {
      @include eclipse-button;
      align-self: center;
    }
  }
}

@media only screen and (max-width: 1024px) {
  #testimonials {
    .content {
      padding: 2rem 0;
      .reviews {
        flex-direction: column;
        .border {
          .review {
            max-width: 500px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 640px) {
  #testimonials {
    .content {
      h2 {
        font-size: 1.7rem;
      }
      .reviews {
        .border {
          .review {
            p {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}
