* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: normal;
  color: #fff;
}

span {
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

@font-face {
  font-family: "Roddenberry";
  font-weight: 400;
  src: url("../public/fonts/roddenberry.ttf") format("truetype");
}
body {
  max-width: 2400px;
  background-color: black;
}

#age-verifier {
  position: relative;
  display: grid;
  height: 100vh;
  justify-items: center;
  align-items: center;
}
#age-verifier .background-image {
  grid-area: 1/1/2/2;
  z-index: 1;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 0%;
     object-position: 50% 0%;
}
#age-verifier .border {
  grid-area: 1/1/2/2;
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background: linear-gradient(45deg, #ed2a79, #47008e);
}
#age-verifier .border .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 2rem;
  gap: 2rem;
  margin: 2px;
  background-color: black;
  border-radius: 4px;
}
#age-verifier .border .content h2 {
  text-align: center;
  font-size: 2.5rem;
  font-family: "Roddenberry";
}
#age-verifier .border .content .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
#age-verifier .border .content .logo .logo-image {
  border-radius: 50%;
}
#age-verifier .border .content .logo .logo-text * {
  text-align: center;
  font-weight: normal;
  font-family: "Roddenberry";
}
#age-verifier .border .content .logo .logo-text h3 {
  font-size: 3rem;
}
#age-verifier .border .content .logo .logo-text h4 {
  color: #ed2a79;
  font-size: 2.75rem;
}
#age-verifier .border .content .order-actions {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
#age-verifier .border .content .order-actions button {
  position: relative;
  z-index: 4;
  width: 260px;
  min-height: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  background: linear-gradient(45deg, #ed2a79, #47008e);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
#age-verifier .border .content .order-actions button .background-gradient {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}
#age-verifier .border .content .order-actions button .background-gradient:hover {
  background-image: linear-gradient(45deg, rgba(237, 42, 120, 0.5215686275), rgba(71, 0, 142, 0.5254901961));
}
#age-verifier .border .content .order-actions button .image-container {
  position: relative;
  border-radius: 4px;
  z-index: 1;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  margin: 1px;
}
#age-verifier .border .content .order-actions button .image-container .button-image {
  border-radius: 4px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  filter: brightness(150%);
}
#age-verifier .border .content .order-actions button p {
  position: relative;
  z-index: 3;
  font-size: 1rem;
}

@media only screen and (max-width: 640px) {
  #age-verifier {
    align-items: flex-start;
    padding-top: 5rem;
  }
  #age-verifier .border .content {
    justify-content: flex-start;
    gap: 1rem;
  }
  #age-verifier .border .content h2 {
    font-size: 1.8rem;
  }
  #age-verifier .border .content .logo .logo-text h3 {
    font-size: 3rem;
  }
  #age-verifier .border .content .logo .logo-text h4 {
    font-size: 2rem;
  }
  #age-verifier .border .content .order-actions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
@media only screen and (max-width: 340px) {
  #age-verifier .content {
    padding: 2rem 0.5rem;
  }
}
/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  top: 24px;
  right: 1rem;
  width: 32px;
  height: 32px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #fff;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #47008e;
  opacity: 1 !important;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #fff;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  top: 80px;
}

/* General sidebar styles */
.bm-menu {
  background-color: black;
  background-image: url("../public/images/purple-space.jpg");
  border: 1px solid #47008e;
  border-right: none;
  background-position: right;
  padding: 3rem 1rem;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  color: #fff;
}
.bm-item-list .menu-item {
  position: relative;
  z-index: 4;
  width: 260px;
  min-height: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  background: linear-gradient(45deg, #ed2a79, #47008e);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  max-width: 95%;
  min-height: 40px;
  height: 40px;
}
.bm-item-list .menu-item .background-gradient {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}
.bm-item-list .menu-item .background-gradient:hover {
  background-image: linear-gradient(45deg, rgba(237, 42, 120, 0.5215686275), rgba(71, 0, 142, 0.5254901961));
}
.bm-item-list .menu-item .image-container {
  position: relative;
  border-radius: 4px;
  z-index: 1;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  margin: 1px;
}
.bm-item-list .menu-item .image-container .button-image {
  border-radius: 4px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  filter: brightness(150%);
}
.bm-item-list .menu-item p {
  position: relative;
  z-index: 3;
  font-size: 1rem;
}
.bm-item-list .menu-item .image-container {
  background-color: black;
}
.bm-item-list #phone-link .background-gradient {
  display: flex;
  gap: 0.5rem;
}
.bm-item-list #phone-link .background-gradient p {
  font-size: 1rem;
}
.bm-item-list #address-link {
  min-height: 60px;
  max-width: 95%;
}
.bm-item-list #address-link .background-gradient {
  display: flex;
  gap: 4px;
}
.bm-item-list #address-link .background-gradient p {
  font-size: 0.75rem;
}
.bm-item-list #address-link .background-gradient *:hover {
  color: #fff;
}
.bm-item-list #address-link:hover {
  color: #fff;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}

#header {
  z-index: 99;
  position: -webkit-sticky;
  position: sticky;
  display: grid;
  top: 0;
  height: 80px;
  width: 100%;
  background-color: black;
  border-bottom: 1px solid #47008e;
}
#header .background-image {
  grid-area: 1/1/2/2;
  position: relative;
  z-index: 1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0% 40%;
     object-position: 0% 40%;
  filter: brightness(50%);
}
#header .content {
  grid-area: 1/1/2/2;
  position: relative;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  background-color: transparent;
  text-align: center;
}
#header .content a {
  display: flex;
  gap: 0.5rem;
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}
#header .content a p {
  font-size: 0.75rem;
}
#header .content * {
  white-space: nowrap;
}
#header .content .address:hover,
#header .content a:hover,
#header .content h1:hover {
  color: #ed2a79;
}
#header .content .address:hover *,
#header .content a:hover *,
#header .content h1:hover * {
  color: #ed2a79;
}
#header .content p:hover {
  cursor: pointer;
}
#header .content div.title {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-left: 1rem;
}
#header .content h1 {
  cursor: pointer;
  font-size: 2.5rem;
  font-weight: normal;
  font-family: "Roddenberry";
}
#header .content nav.desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}

@media only screen and (max-width: 1150px) {
  #header .content h1 {
    font-size: 2rem;
  }
  #header .content nav.desktop {
    font-size: 1rem;
    gap: 1rem;
  }
}
@media only screen and (max-width: 640px) {
  #header .background-image {
    -o-object-position: 10% 10%;
       object-position: 10% 10%;
  }
  #header .content div.title {
    gap: 1rem;
  }
  #header .content h1 {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 390px) {
  #header .content .title {
    gap: 1rem;
  }
  #header .content h1 {
    font-size: 1.12rem;
  }
}
@media only screen and (max-width: 330px) {
  #header .content div.title {
    gap: 1rem;
  }
  #header .content h1 {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 1000px) {
  #header .content a:hover,
#header .content h1:hover {
    color: #fff;
  }
  #header .content nav.desktop {
    display: none;
  }
  #header .content a {
    color: black;
    font-weight: bold;
  }
  #header .content a.title {
    color: #fff;
  }
}
@media only screen and (min-width: 1000px) {
  #header .content div {
    display: none;
  }
}
#footer {
  position: relative;
  display: grid;
  height: 80px;
  width: 100%;
  border-top: 1px solid #47008e;
}
#footer .background-image {
  grid-area: 1/1/2/2;
  z-index: 1;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0% 40%;
     object-position: 0% 40%;
  filter: brightness(50%);
}
#footer .content {
  grid-area: 1/1/2/2;
  z-index: 2;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  text-align: center;
  max-height: 80px;
}
#footer .content .title {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
#footer .content .title h2 {
  font-size: 1rem;
}
#footer .content a {
  display: flex;
  gap: 0.5rem;
  text-decoration: none;
  font-size: 0.75rem;
}

@media only screen and (max-width: 700px) {
  #footer {
    height: 160px;
  }
  #footer .background-image {
    scale: 2;
    -o-object-position: 0% 0%;
       object-position: 0% 0%;
  }
  #footer .content {
    display: grid;
    max-height: 160px;
    justify-items: center;
    align-items: center;
    padding: 1rem;
  }
  #footer .content .title {
    grid-area: 1/1/2/3;
    gap: 1rem;
  }
  #footer .content .title h2 {
    font-size: 1rem;
  }
  #footer .content p {
    font-size: 0.75rem;
  }
  #footer .content .phone {
    grid-area: 2/1/3/2;
  }
  #footer .content .address {
    grid-area: 2/2/3/3;
  }
}
#hero {
  position: relative;
  display: grid;
}
#hero .background-image {
  grid-area: 1/1/2/2;
  z-index: 1;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 0%;
     object-position: 50% 0%;
  filter: brightness(70%);
}
#hero .content {
  grid-area: 1/1/2/2;
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  color: white;
  padding: 2rem;
  gap: 2rem;
}
#hero .content h2 {
  font-family: "Roddenberry";
  text-align: center;
  font-size: 4rem;
}
#hero .content .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
#hero .content .logo .logo-image {
  border-radius: 50%;
}
#hero .content .logo .logo-text * {
  text-align: center;
  font-weight: normal;
  font-family: "Roddenberry";
}
#hero .content .logo .logo-text h3 {
  font-size: 7rem;
}
#hero .content .logo .logo-text h4 {
  color: #ed2a79;
  font-size: 4rem;
}
#hero .content .order-actions {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
#hero .content .order-actions a {
  position: relative;
  z-index: 4;
  width: 260px;
  min-height: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  background: linear-gradient(45deg, #ed2a79, #47008e);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
#hero .content .order-actions a .background-gradient {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}
#hero .content .order-actions a .background-gradient:hover {
  background-image: linear-gradient(45deg, rgba(237, 42, 120, 0.5215686275), rgba(71, 0, 142, 0.5254901961));
}
#hero .content .order-actions a .image-container {
  position: relative;
  border-radius: 4px;
  z-index: 1;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  margin: 1px;
}
#hero .content .order-actions a .image-container .button-image {
  border-radius: 4px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  filter: brightness(150%);
}
#hero .content .order-actions a p {
  position: relative;
  z-index: 3;
  font-size: 1rem;
}

@media only screen and (min-width: 800px) {
  #hero {
    min-height: calc(100vh - 80px);
  }
}
@media only screen and (max-width: 800px) {
  #hero .content h2 {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 640px) {
  #hero .content {
    justify-content: flex-start;
    gap: 1rem;
  }
  #hero .content h2 {
    font-size: 2rem;
  }
  #hero .content .logo .logo-text h3 {
    font-size: 4rem;
  }
  #hero .content .logo .logo-text h4 {
    font-size: 3rem;
  }
  #hero .content .order-actions {
    display: flex;
    flex-direction: column;
    grid-template: 1rem;
  }
}
@media only screen and (max-width: 390px) {
  #hero .content .logo .logo-text h4 {
    font-size: 2rem;
  }
}
#brand-heading {
  border-top: 1px solid #47008e;
  position: relative;
  display: grid;
  overflow: hidden;
}
#brand-heading .background-image {
  grid-area: 1/1/2/2;
  z-index: 1;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}
#brand-heading .content {
  grid-area: 1/1/2/2;
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
  max-width: 1200px;
}
#brand-heading .content h2 {
  color: #ed2a79;
  text-align: center;
  font-size: 2.5rem;
}
#brand-heading .content h3 {
  color: #ed2a79;
  text-align: center;
  font-size: 2rem;
}
#brand-heading .content p {
  text-align: left;
  font-size: 1.2rem;
  line-height: 1.8rem;
}
#brand-heading .content .page-links {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
#brand-heading .content .page-links a {
  position: relative;
  z-index: 4;
  width: 260px;
  min-height: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  background: linear-gradient(45deg, #ed2a79, #47008e);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
#brand-heading .content .page-links a .background-gradient {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}
#brand-heading .content .page-links a .background-gradient:hover {
  background-image: linear-gradient(45deg, rgba(237, 42, 120, 0.5215686275), rgba(71, 0, 142, 0.5254901961));
}
#brand-heading .content .page-links a .image-container {
  position: relative;
  border-radius: 4px;
  z-index: 1;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  margin: 1px;
}
#brand-heading .content .page-links a .image-container .button-image {
  border-radius: 4px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  filter: brightness(150%);
}
#brand-heading .content .page-links a p {
  position: relative;
  z-index: 3;
  font-size: 1rem;
}

@media only screen and (max-width: 700px) {
  #brand-heading {
    margin-top: 0.5rem;
  }
  #brand-heading .content h2 {
    font-size: 1.7rem;
  }
  #brand-heading .content h3 {
    font-size: 1.5rem;
  }
  #brand-heading .content p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  #brand-heading .content .page-links {
    display: flex;
    flex-direction: column;
    grid-template: 1rem;
  }
}
#store-carousel {
  background-color: black;
  border-top: 1px solid #47008e;
  border-bottom: 1px solid #47008e;
}

.carousel-item {
  width: 100%;
  max-height: 400px;
}
.carousel-item a {
  display: grid;
  text-decoration: none;
}
.carousel-item a .carousel-image {
  max-height: 400px;
  grid-area: 1/1/2/2;
  position: relative;
  z-index: 1;
}
.carousel-item a .hover-gradient {
  grid-area: 1/1/2/2;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  width: 100%;
  height: 100%;
}
.carousel-item a .hover-gradient .carousel-text {
  text-align: center;
  font-size: 2.5rem;
}
.carousel-item a .hover-gradient:hover {
  background-image: linear-gradient(45deg, rgba(237, 42, 120, 0.5215686275), rgba(71, 0, 142, 0.5254901961));
}

@media only screen and (max-width: 640px) {
  .carousel-item a .hover-gradient .carousel-text {
    font-size: 1.5rem;
  }
}
#testimonials {
  position: relative;
  display: grid;
}
#testimonials .background-image {
  grid-area: 1/1/2/2;
  z-index: 1;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}
#testimonials .content {
  grid-area: 1/1/2/2;
  z-index: 2;
  position: relative;
  justify-self: center;
  width: 100%;
  max-width: 1600px;
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
}
#testimonials .content h2 {
  color: #ed2a79;
  text-align: center;
  font-size: 2.5rem;
}
#testimonials .content .reviews {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}
#testimonials .content .reviews .border {
  border-radius: 4px;
  background: linear-gradient(45deg, #ed2a79, #47008e);
}
#testimonials .content .reviews .border .review {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 4px;
  max-width: 400px;
  height: calc(100% - 2px);
  margin: 1px;
  background-color: black;
}
#testimonials .content .reviews .border .review p {
  font-size: 1.3rem;
}
#testimonials .content .reviews .border .review p.sig {
  padding: 1rem;
  padding-bottom: 0;
  text-align: right;
}
#testimonials .content a.reviews-link {
  position: relative;
  z-index: 4;
  width: 260px;
  min-height: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  background: linear-gradient(45deg, #ed2a79, #47008e);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-self: center;
}
#testimonials .content a.reviews-link .background-gradient {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}
#testimonials .content a.reviews-link .background-gradient:hover {
  background-image: linear-gradient(45deg, rgba(237, 42, 120, 0.5215686275), rgba(71, 0, 142, 0.5254901961));
}
#testimonials .content a.reviews-link .image-container {
  position: relative;
  border-radius: 4px;
  z-index: 1;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  margin: 1px;
}
#testimonials .content a.reviews-link .image-container .button-image {
  border-radius: 4px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  filter: brightness(150%);
}
#testimonials .content a.reviews-link p {
  position: relative;
  z-index: 3;
  font-size: 1rem;
}

@media only screen and (max-width: 1024px) {
  #testimonials .content .reviews {
    flex-direction: column;
  }
  #testimonials .content .reviews .border .review {
    max-width: 500px;
  }
}
@media only screen and (max-width: 640px) {
  #testimonials .content h2 {
    font-size: 1.7rem;
  }
  #testimonials .content .reviews .border .review p {
    font-size: 1rem;
  }
}
#loyalty-signup {
  position: relative;
  display: grid;
}
#loyalty-signup .background-image {
  grid-area: 1/1/2/2;
  z-index: 1;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}
#loyalty-signup .content {
  grid-area: 1/1/2/2;
  z-index: 2;
  position: relative;
  display: flex;
  justify-self: center;
  align-items: center;
  padding: 8rem 2rem;
  gap: 4rem;
  max-width: 1200px;
}
#loyalty-signup .content .call-to-action {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  text-align: center;
}
#loyalty-signup .content .call-to-action h2 {
  color: #ed2a79;
  font-size: 2.5rem;
}
#loyalty-signup .content .call-to-action h3 {
  font-size: 1.5rem;
}
#loyalty-signup .content #signup-form {
  position: relative;
  z-index: 3;
  display: grid;
  grid: 1fr/1fr 1fr;
  gap: 1rem;
}
#loyalty-signup .content #signup-form .form-field {
  display: flex;
  flex-direction: column;
}
#loyalty-signup .content #signup-form .form-field input {
  border: 1px solid black;
  border-radius: 4px;
  -webkit-appearance: none;
  height: 2rem;
  font-size: 1.3rem;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
#loyalty-signup .content #signup-form .form-field .touched:invalid {
  border: 1px solid #ed2a79;
}
#loyalty-signup .content #signup-form .form-field .error {
  color: #ed2a79;
}
#loyalty-signup .content #signup-form .form-field-check {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
#loyalty-signup .content #signup-form .form-field-check input {
  accent-color: #ed2a79;
}
#loyalty-signup .content #signup-form button {
  position: relative;
  z-index: 4;
  width: 260px;
  min-height: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  background: linear-gradient(45deg, #ed2a79, #47008e);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  justify-self: center;
}
#loyalty-signup .content #signup-form button .background-gradient {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}
#loyalty-signup .content #signup-form button .background-gradient:hover {
  background-image: linear-gradient(45deg, rgba(237, 42, 120, 0.5215686275), rgba(71, 0, 142, 0.5254901961));
}
#loyalty-signup .content #signup-form button .image-container {
  position: relative;
  border-radius: 4px;
  z-index: 1;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  margin: 1px;
}
#loyalty-signup .content #signup-form button .image-container .button-image {
  border-radius: 4px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  filter: brightness(150%);
}
#loyalty-signup .content #signup-form button p {
  position: relative;
  z-index: 3;
  font-size: 1rem;
}

@media only screen and (max-width: 640px) {
  #loyalty-signup {
    min-height: 1px;
  }
  #loyalty-signup .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 0rem;
  }
  #loyalty-signup .content .call-to-action {
    gap: 1rem;
    padding: 1rem;
  }
  #loyalty-signup .content .call-to-action h2 {
    font-size: 1.7rem;
  }
  #loyalty-signup .content .call-to-action h3 {
    font-size: 1rem;
  }
  #loyalty-signup .content #signup-form {
    grid: 1fr/1fr;
    gap: 0.5rem;
  }
  #loyalty-signup .content #signup-form .form-field-check {
    margin: 0.5rem 0;
  }
  #loyalty-signup .content #signup-form button {
    margin: 0.5rem 0;
  }
}
#contact {
  position: relative;
  display: grid;
  min-height: calc(100vh - 80px);
  overflow: hidden;
  background-color: black;
}
#contact .background-image {
  grid-area: 1/1/2/2;
  z-index: 1;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}
#contact .content {
  grid-area: 1/1/2/2;
  z-index: 2;
  position: relative;
  justify-self: center;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  color: white;
  text-align: center;
  gap: 4rem;
  margin-top: 2rem;
  padding: 1rem;
}
#contact .content h2 {
  font-size: 2.5rem;
  color: #ed2a79;
}
#contact .content .contact-info {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-auto-flow: column;
}
#contact .content .contact-text {
  position: relative;
  justify-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
  height: 90%;
  text-align: left;
}
#contact .content .contact-text div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#contact .content .contact-text h3 {
  color: #ed2a79;
  font-size: 2rem;
}
#contact .content .contact-text p {
  font-size: 1.5rem;
}
#contact .content iframe {
  width: 625px;
  height: 450px;
  border-radius: 4px;
}
#contact .content a:hover {
  color: #ed2a79;
}
#contact .content .order-link {
  position: relative;
  z-index: 4;
  width: 260px;
  min-height: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  background: linear-gradient(45deg, #ed2a79, #47008e);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
#contact .content .order-link .background-gradient {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}
#contact .content .order-link .background-gradient:hover {
  background-image: linear-gradient(45deg, rgba(237, 42, 120, 0.5215686275), rgba(71, 0, 142, 0.5254901961));
}
#contact .content .order-link .image-container {
  position: relative;
  border-radius: 4px;
  z-index: 1;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  margin: 1px;
}
#contact .content .order-link .image-container .button-image {
  border-radius: 4px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  filter: brightness(150%);
}
#contact .content .order-link p {
  position: relative;
  z-index: 3;
  font-size: 1rem;
}

@media only screen and (max-width: 1024px) {
  #contact .content h2 {
    font-size: 2rem;
  }
  #contact .content iframe {
    width: 90%;
    max-width: 500px;
    height: 300px;
  }
  #contact .content .contact-text {
    justify-self: center;
  }
  #contact .content .contact-text h3 {
    font-size: 1.8rem;
  }
  #contact .content .contact-text p {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 800px) {
  #contact .content {
    gap: 2rem;
  }
  #contact .content .contact-info {
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
  }
  #contact .content .contact-text {
    height: auto;
    text-align: center;
    gap: 2rem;
  }
}
@media only screen and (max-width: 640px) {
  #contact .content .contact-info {
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
  }
  #contact .content .contact-text {
    height: auto;
    gap: 2rem;
  }
}
#brands {
  border-top: 1px solid #47008e;
  position: relative;
  display: grid;
  min-height: calc(100vh - 160px);
}
#brands .background-image {
  grid-area: 1/1/2/2;
  z-index: 1;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}
#brands .content {
  grid-area: 1/1/2/2;
  z-index: 2;
  position: relative;
  grid-area: 1/1/3/2;
  justify-self: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  color: white;
  text-align: center;
  gap: 2rem;
  margin-top: 2rem;
  padding: 1rem;
}
#brands .content h2 {
  font-size: 2.5rem;
  color: #ed2a79;
}
#brands .content p {
  font-size: 1.2rem;
}
#brands .content .order-actions {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
#brands .content .order-actions a {
  position: relative;
  z-index: 4;
  width: 260px;
  min-height: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  background: linear-gradient(45deg, #ed2a79, #47008e);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
#brands .content .order-actions a .background-gradient {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}
#brands .content .order-actions a .background-gradient:hover {
  background-image: linear-gradient(45deg, rgba(237, 42, 120, 0.5215686275), rgba(71, 0, 142, 0.5254901961));
}
#brands .content .order-actions a .image-container {
  position: relative;
  border-radius: 4px;
  z-index: 1;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  margin: 1px;
}
#brands .content .order-actions a .image-container .button-image {
  border-radius: 4px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  filter: brightness(150%);
}
#brands .content .order-actions a p {
  position: relative;
  z-index: 3;
  font-size: 1rem;
}
#brands .content .brands {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 2rem;
  margin-top: -2rem;
  gap: 3rem;
}
#brands .content .brands .brand {
  width: calc(25% - 6rem);
  height: auto;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
  gap: 0;
  padding: 1rem;
  /*         border: 1px solid $eclipse-pink; */
  border-radius: 4px;
}
#brands .content .brands .brand h3 {
  text-align: center;
  font-size: 1.5rem;
}
#brands .content .brands .brand:hover {
  cursor: pointer;
}
#brands .content .brands #Outlaw .brand-image {
  padding: 0.5rem;
}

@media only screen and (max-width: 640px) {
  #brands .content p {
    font-size: 1rem;
  }
  #brands .content .order-actions {
    flex-direction: column;
  }
  #brands .content .brands {
    gap: 0rem;
  }
  #brands .content .brands .brand {
    width: calc(50% - 1rem);
  }
  #brands .content .brands .brand h3 {
    font-size: 1rem;
  }
}
@-webkit-keyframes slide-left {
  from {
    left: -20px;
    opacity: 0;
  }
  to {
    left: 0px;
    opacity: 1;
  }
}
@keyframes slide-left {
  from {
    left: -20px;
    opacity: 0;
  }
  to {
    left: 0px;
    opacity: 1;
  }
}
@-webkit-keyframes slide-right {
  from {
    right: -20px;
    opacity: 0;
  }
  to {
    right: 0px;
    opacity: 1;
  }
}
@keyframes slide-right {
  from {
    right: -20px;
    opacity: 0;
  }
  to {
    right: 0px;
    opacity: 1;
  }
}
@-webkit-keyframes slide-up {
  from {
    bottom: -20px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}
@keyframes slide-up {
  from {
    bottom: -20px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}/*# sourceMappingURL=main.css.map */