$eclipse-purple: #47008e;
$purple-transparent: #47008e86;
$eclipse-pink: #ed2a79;
$pink-transparent: #ed2a7885;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roddenberry', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: normal;
  color: #fff;
}

span {
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

@font-face {
  font-family: 'Roddenberry';
  font-weight: 400;
  src: url('../public/fonts/roddenberry.ttf') format('truetype');
}

body {
  max-width: 2400px;
  background-color: black;
}

@import './burger-menu';
@import './navbar';
@import './hero';
@import './brand-heading';
@import './featured-brands';
@import './contact';
@import './store-carousel';
@import './store-carousel-link';
@import './testimonials';
@import './footer';

@keyframes slide-left {
  from {
    left: -20px;
    opacity: 0;
  }
  to {
    left: 0px;
    opacity: 1;
  }
}

@keyframes slide-right {
  from {
    right: -20px;
    opacity: 0;
  }
  to {
    right: 0px;
    opacity: 1;
  }
}

@keyframes slide-up {
  from {
    bottom: -20px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}
